name: CI/CD 

on: 
  push:

env:
  PROJECT_NAME: stuart-web
  DOCKER_IMAGE: ghcr.io/${{ github.repository }}/${{ github.event.repository.name }}
  DOCKER_TAG: ${{ github.sha }}
  WORKING_DIRECTORY: web

jobs:
  deploy-test:
    runs-on: ubuntu-24.04
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Create .env file
        uses: noi-techpark/github-actions/env-file@v2
        env:
          X_COMPOSE_PROJECT_NAME: ${{ env.PROJECT_NAME }}
          X_DOCKER_IMAGE: ${{ env.DOCKER_IMAGE }}
          X_DOCKER_TAG: ${{ env.DOCKER_TAG }}

          X_SERVER_PORT: 1098
        with:
          working-directory: ${{ env.WORKING_DIRECTORY }}
 
      - name: Inject pre-shared secret
        run:  sed -i 's/CHANGE_ME/${{ secrets.PRESHARED_SECRET }}/' backend.json 
        with:
          working-directory: ${{ env.WORKING_DIRECTORY }}

      - name: Build and push 
        uses: noi-techpark/github-actions/docker-build-and-push@v2
        with:
          docker-username: ${{ github.actor }}
          docker-password: ${{ secrets.GITHUB_TOKEN }}
          working-directory: ${{ env.WORKING_DIRECTORY }}

      - name: Deploy application
        uses: noi-techpark/github-actions/docker-deploy@v2
        with:
          hosts: 'test'
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
          docker-username: 'noi-techpark-bot'
          docker-password: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          project-name: ${{ env.PROJECT_NAME }}
          working-directory: ${{ env.WORKING_DIRECTORY }}

